<!-- the" User list" screen -->
<div class="container">
  <!-- title -->
  <div>
    <h2 style="text-align: center">User list</h2>
  </div>
  <div class="container-fluid">
    <!-- <form [formGroup]="searchUser" (ngSubmit)="search()"> -->
    <form [formGroup]="searchUser" (ngSubmit)="ngOnInit()">
      <!-- row 1: search function -->
      <div class="search row d-flex justify-content-md-end mb-4 text-right float-right">
        <!-- textbox: SearchTerm -->
        <div class="col-xl-3 col-md-3 form-group" style="text-align: center">
          <label for="searchTerm">Search term</label>
          <input id="searchTerm" class="form-control" type="search" formControlName="searchTerm"
            placeholder="Search term">
        </div>
        <!-- dropdown: Role -->
        <div class="col-xl-3 col-md-3 form-group" style="text-align: center">
          <label for="role">Role</label>
          <select id="role" class="form-control" formControlName="role" placeholder="Search term">
            <option value="">Select role</option>
            <option value="ROLE_CUSTOMER">ROLE_CUSTOMER</option>
            <option value="ROLE_SUPPORTER">ROLE_SUPPORTER</option>
            <option value="ROLE_ADMIN">ROLE_ADMIN</option>
          </select>
        </div>
        <!-- dropdown: Status -->
        <div class="col-xl-3 col-md-3 form-group" style="text-align: center">
          <label for="status">Status</label>
          <select id="status" class="form-control" formControlName="status">
            <option value="">Select status</option>
            <option value="Active">Active</option>
            <option value="Inactive">Inactive</option>
          </select>
        </div>
        <!-- the "Search" button -->
        <div class="col-xl-3 col-lg-3">
          <!-- break(insert s line break(carriage-return)) -->
          <br>
          <!-- "Search button" -->
          <button id="searchButton" class="btn btn-primary mt-xl-2" style="float: right; width: 100%">
            <i class="fa fa-search"></i>
            Search
          </button>
        </div>
      </div>
    </form>
  </div>

  <!-- the "Create user" button -->
  <div class="container mt-0">
    <br><br><br>
    <button class="btn btn-primary mt-2 mb-md-3" routerLink="/user-create"><i class="fa fa-plus"></i> Create user
    </button>
  </div>

  <!-- table -->
  <div class="container tab">
    <table class="table table-hover table-bordered">
      <thead>
        <tr class="bg-table-header">
          <th scope="col">Ord</th>
          <th scope="col">ID</th>
          <th scope="col">Email</th>
          <th scope="col">First name</th>
          <th scope="col">Last name</th>
          <th scope="col">Phone</th>
          <th scope="col">Role</th>
          <th scope="col">Status</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody style="font-size: 16px;text-align: center">
        <tr *ngFor="let user of users,index as i">
          <!-- order(line number) -->
          <td style="text-align: right">{{lineOfTotal(currentPage, i)}}</td>
          <td style="text-align: right">{{user.id}}</td>
          <td>{{user.email}}</td>
          <td>{{user.firstName}}</td>
          <td>{{user.lastName}}</td>
          <td>{{user.phone}}</td>
          <td>{{user.role}}</td>
          <td>{{user.status}}</td>
          <!-- "Edit" button -->
          <td class="text-center" width="11%">
            <a class="btn btn-primary mr-1" [routerLink]="['/user-edit', user.id]"><i class="fa fa-edit"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- pagination -->
  <div class="mt-3" *ngIf="totalPage > 0">
    <nav aria-label="Page navigation example">
      <ul class="pagination d-flex justify-content-md-end justify-content-center">
        <!-- move to the "first page" -->
        <li class="page-item"><button class="page-link" (click)="moveFirst()" [disabled]="currentPage==1">First</button></li>
        <!-- move to "previous page" -->
        <li class="page-item"><button class="page-link" (click)="movePrevious()" [disabled]="currentPage==1">Previous</button></li>
        <li class="page-item col-md-1 col-2  px-0">
          <div class="input-group">
            <input type="number" min="1" [max]="totalPage" class="form-control text-right rounded-0"
              aria-label="Username" aria-describedby="basic-addon1" [value]="currentPage"
              (change)="indexPaginationChange($event.target.value)">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">/{{totalPage}}</span>
            </div>
          </div>
        </li>
        <!-- the "Go" button -->
        <li class="page-item">
          <button class="btn btn-primary rounded-0" (click)="goPage()"
            onmouseover="this.style.cursor='pointer'">Go</button>
        </li>
        <!-- the "Next" button -->
        <li class="page-item"><button class="page-link" (click)="moveNext()" [disabled]="currentPage==totalPage">Next</button></li>

        <!-- the "Last" button -->
        <!-- <li class="page-item"><a class="page-link" (click)="moveLast()"
            onmouseover="this.style.cursor='pointer'">Last</a></li> -->
        <li class="page-item"><button class="page-link" (click)="moveLast()"
            [disabled]="currentPage==totalPage">Last</button></li>
      </ul>
    </nav>
  </div>
</div>