/* You can add global styles to this file, and also import other style files */
@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css';
@import 'https://use.fontawesome.com/releases/v5.8.1/css/all.css';
@import "~angular-notifier/styles";



/* 
a:hover {
  color: #0f0f0f;
  text-decoration: none;
  cursor: pointer;
} */

/* td {
  cursor: pointer;
} */
.move-right {
    position: absolute;
    right: 0;
  }

  .move-left {
    position: absolute;
    left: 0;
  }

  .btn-file {
    position: relative;
    overflow: hidden;
  }
  .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
  }


  /* dunglh */
  
.header {
  height: 80px;
  background-color:rgb(158,207,251) !important;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
  background-color:rgb(158,207,251) !important;
}

.navbar .logo {
  margin-right: 30px;
}


/*@media (min-width: 768px) {*/
/*    .user {*/
/*     position: relative;*/
/*        left: 40%;*/
/*    }*/
/*}*/


@media (min-width: 992px) {
  .user {
    position: relative;
    left: 45%;
    padding-left: 5%;
  }
}


@media (min-width: 1200px) {
  .user {
    position: relative;
    left: 48%;
    padding-left: 7%;
  }
}


@media (min-width: 1400px) {
  .user {
    position: relative;
    left: 45%;
    padding-left: 1%;
  }
}